Python basics | Operator

In [4]:
2 + 3 * 5

17

In [7]:
var = 13 
print(var)

13

In [10]:
#String Comment  
'This is a string'

'This is a string'

In [11]:
var = 'hello'
var

'hello'

In [12]:
print(var)

hello

In [16]:
num = 12 
name = "Ritesh"

# Use of the format method for name and age. 
# print('My name is {} and age is {}'.format(name,num)) or 

print('My name is {one} and age is {two}'.format(two=num,one=name))

My name is Ritesh and age is 12

In [17]:
s = 'hello'  # string is a array of characters 
s[4]

'o'

In [19]:
# Slice 
s = 'mnopqrstuv'
s[2:]  #

'opqrstuv'

In [20]:
s[:4]  # zero to index position 4

'mnop'

In [21]:
s[2:5]

'opq'