Python basics | Operator

In [4]:
2 + 3 * 5

17

In [7]:
var = 13 
print(var)

13

In [10]:
#String Comment  
'This is a string'

'This is a string'

In [11]:
var = 'hello'
var

'hello'

In [12]:
print(var)

hello

In [16]:
num = 12 
name = "Ritesh"

# Use of the format method for name and age. 
# print('My name is {} and age is {}'.format(name,num)) or 

print('My name is {one} and age is {two}'.format(two=num,one=name))

My name is Ritesh and age is 12

In [17]:
s = 'hello'  # string is a array of characters 
s[4]

'o'

In [19]:
# Slice 
s = 'mnopqrstuv'
s[2:]  #

'opqrstuv'

In [20]:
s[:4]  # zero to index position 4

'mnop'

In [21]:
s[2:5]

'opq'

Dictionaries are essentially maps in other programming languages.

In [5]:
d = {'key1': 'value1', 'key2': 32, 'k1': [1,2,3]}

In [3]:
d['k1']

[1, 2, 3]

In [6]:
d['key2']

32

In [9]:
d['k1'][1]

2

In [13]:
False

False

In [14]:
1>2

False

In [15]:
1<=2

True

In [16]:
'ritesh' == 'ritesh'

True

In [21]:
(1 < 2) and (2 > 3)

False

In [22]:
True or False

True

In [26]:
if 1 == 2: 
    print('first')
elif 3 ==3: 
    print('middle')
else: 
    print('last')

middle

In [27]:
# for and while 
seq = [1,2,3,4,5]

for item in seq: 
    print(item)

1
2
3
4
5

In [29]:
i = 1 
while i < 5 : 
    print('i is: {}'.format(i))
    i=i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [30]:
# range function that generates a range of values 
range(5,100)

range(5, 100)

In [31]:
for x in range(20,30):
    print(x)

20
21
22
23
24
25
26
27
28
29

In [32]:
x = range(0,4)
out = []

In [36]:
#for num in x: 
#    out.append(num**2)
#print(out)
# list comprehension - equal to the the code above 
out = [num**2 for num in x]
print(out)

[0, 1, 4, 9]

In [41]:
# function 
def my_func(name = 'Default'): 
    print('hello '+name)

my_func('Nougat')

hello Nougat

In [42]:
my_func   # we are asking python what this object is.

In [47]:
def square(num): 
    """
        This is a way to put multiple line comment. This is for proper documentation 
    """
    return num**2

output = square(19)
output

361

Advances functions

In [48]:
# first create a function 
def times2(var): 
    return var*2

times2(5)

10

In [51]:
# python map functions map() 
seq = range(1,6)

# frst send the functions and then seq as the 2nd param
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [53]:
# Lambda expression 
t = lambda var : var*2
t(9)

18

In [56]:
list(map(lambda num : num**2, seq))

[1, 4, 9, 16, 25]

In [59]:
# filter function  returns a true or false value
list(filter(lambda num : num %2 ==0 , seq))

[2, 4]

In [60]:
# inbuilt functions 
s = 'hello my name is Ritesh'

In [61]:
s.lower()

'hello my name is ritesh'

In [62]:
s.split()

['hello', 'my', 'name', 'is', 'Ritesh']

In [63]:
s.upper()

'HELLO MY NAME IS RITESH'

In [64]:
tweet = "Go Sports! #Sport"

In [65]:
tweet.split('#')

['Go Sports! ', 'Sport']

In [67]:
tweet.split('#')[0]

'Go Sports! '

In [68]:
d = {'k1':1, 'k2':2}

In [71]:
d.keys()

dict_keys(['k1', 'k2'])

In [72]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [73]:
d.values()

dict_values([1, 2])

In [77]:
lst = list(range(5,10))
lst.pop(0)

5

In [78]:
lst

[6, 7, 8, 9]

In [79]:
'x' in [1,2,3]

False

In [81]:
'x' in ['x','y','z']

True

In [84]:
# tuple unpacking 
x = [(1,2), (3,4), (5,6)]  # list of a tuple

for (a,b) in x:  # unpacking the tuple
    print(a + b)

3
7
11