## Pandas
** Missing Data and filling in the missing data **

In [1]:
import numpy as np 
import pandas as pd

In [2]:
d = {'A': [1,2,np.nan], 'B': [5, np.nan,np.nan], 'C': [1,2,3]}

In [33]:
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [34]:
df.dropna() # drops all rows that have one or more nan or null values in the rows.

     A    B  C
0  1.0  5.0  1

In [35]:
df.dropna(axis=1)  # drops all the columns that have null values

   C
0  1
1  2
2  3

In [36]:
df.dropna(thresh=2)  # this will drop a row that has 2 or more NaN values therefore row index 1 is kept as thresh is not met

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [37]:
df.fillna(value=0.0) # this fills in the value that you specify 0.0

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

In [38]:
df['A'].fillna(value=df['A'].mean())  # fills all the values in the column A with mean of that column.

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [39]:
df.mean(axis=0)

A    1.5
B    5.0
C    2.0
dtype: float64

In [40]:
df.loc[1].fillna(value=df.loc[1].mean() # fill in the values with mean of the row.

A    2.0
B    2.0
C    2.0
Name: 1, dtype: float64

In [41]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3