## Pandas
** Data Frames and index hierarchies, Cross sections **

In [9]:
import numpy as np 
import pandas as pd 
from numpy.random import randn

In [4]:
# Index level 
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [13]:
df = pd.DataFrame(randn(6,2), hier_index,['A','B'])

In [14]:
df

             A         B
G1 1  0.436259 -1.017872
   2 -0.413258  0.915671
   3  1.038804 -0.069430
G2 1 -0.878963 -0.371207
   2 -0.478666 -1.427833
   3  1.016318 -0.860519

In [18]:
df.loc['G1'].loc[[2,3]]

          A         B
2 -0.413258  0.915671
3  1.038804 -0.069430

In [24]:
df.index.names = ['Group', 'Nums']

In [25]:
df

                   A         B
Group Nums
G1    1     0.436259 -1.017872
      2    -0.413258  0.915671
      3     1.038804 -0.069430
G2    1    -0.878963 -0.371207
      2    -0.478666 -1.427833
      3     1.016318 -0.860519

In [26]:
df.loc['G2'].loc[2]['B']

-1.427833476303866

In [27]:
# crossection 
df.xs('G1')

             A         B
Nums
1     0.436259 -1.017872
2    -0.413258  0.915671
3     1.038804 -0.069430

In [30]:
df.xs(1,level='Nums')  # this gives all the 1 index values from all the groups G1 and G2

              A         B
Group
G1     0.436259 -1.017872
G2    -0.878963 -0.371207